/* Add your custom CSS for zinco-actores-list here */
.tab-pane .card {
  border-radius: 8px;
  background: rgb(127, 197, 77);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  min-height: 150px;
}

.tab-pane .card-title {
  font-size: 1.25rem;
  font-weight: bold;
}

.tab-pane .card a,
.tab-pane .card-text,
.tab-pane .card-title,
.grouped_data_wrapper .text-muted,
.tab-pane .card-body {
  color: #ffffff;
}

.card_grouped_data .card-title {
  color: #000000;
}

.card_grouped_data .card-body {
  color: #000000;
  border: 1px solid rgb(244, 244, 244);
  border-radius: 8px;
  background: rgb(244, 244, 244);
}